In [3]:
pwd

'C:\\Users\\admin\\Desktop\\Personal stuff\\Worldquant'

In [4]:
#importing the libraries and modules
import pandas as pd
import numpy as np

In [5]:
#importing the dataset in csv format
df = pd.read_csv ("Housing-in-Mexico.csv")

## Data Cleaning

In [6]:
#Checking for the shape of the dataset i.e the number of observations and features
df.shape

(1000, 6)

In [7]:
#Checking for the datatypes of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_type  1000 non-null   object
 1   state          133 non-null    object
 2   latitude       1000 non-null   float64
 3   longitude      1000 non-null   float64
 4   area           1000 non-null   float64
 5   price          1000 non-null   float64
dtypes: float64(4), object(2)
memory usage: 47.0+ KB

In [8]:
#Checking for the first 5 rows
df.head()

  property_type state   latitude   longitude    area      price
0     townhouse   NaN  43.258740   17.888008  434.97  541884.90
1         house   NaN  34.620202  112.453926  348.25  601831.32
2         condo   NaN  -4.163679   18.807620  729.05  153199.73
3     townhouse   NaN  22.826877  107.840624  431.57  646160.13
4         villa   NaN  27.483293  120.562211  135.08  885208.53

In [10]:
#Checking for the values in a particular column-shows frist and last 5
df['price']

0      541884.90
1      601831.32
2      153199.73
3      646160.13
4      885208.53
         ...
995    432552.01
996    302069.21
997    568993.49
998    988252.37
999    135853.59
Name: price, Length: 1000, dtype: float64

In [12]:
#Checking for the values between observations (50-60) in price.
df.price[50:61]

50    346695.40
51    538717.27
52     65041.67
53    757693.48
54    111287.18
55    527265.11
56    721955.13
57    251339.94
58    929802.73
59    889550.81
60    610061.33
Name: price, dtype: float64